*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    width: 100%;
    background: #350c39;
    margin: 0px;
    overflow-x: hidden;
}
 /* HEADER */
header{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003FFF;
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(40, 24, 113),rgb(159, 96, 150));
    
    z-index: 2;
 }
 header ul{
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;

 }
 header ul li a{
    padding: 60px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
 }
 header ul li:hover{
    transition: 0.9s;
    transform: scale(1.2,1.3);
 }
 .logo img{
    width: 55px;
    height: 50px;
    margin-left: 30px;
    padding: 4px;
    background-color: #fff;
    border-radius: 30px;
    
 }
 .bnt-pg1 {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    margin-left: 12vw;
    gap: 10px;
    width: 450Px;
}
header .clo-ico{
    display: none;
  }
  header .resp-ico{
    display: none;
  }
 /*----content colection------*/
 .add-nft{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.add-nft button{
    width: 150px;
    height: 30px;
    background-color: rgb(77, 1, 78);
    color: #ffff;
    border: 1px solid rgb(251, 0, 255);
    transition: 1.9s;
    border-radius: 5px;
    cursor: pointer;
}
.add-nft button:hover{
    transform: scale(1.1,1.1);
    color: #ffffff;
    background-color: rgb(255, 0, 221);
}
 section-place{
    width: 90%;
}
 section h2{
    text-align: center;
    margin-top: 50px;
    color: #fff;
 }
 .content-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,auto));
    row-gap: 50px;
    column-gap: 0px;
    margin-top: 20px;
    margin-left: 76px;
    width: 90%;
    margin-bottom: 140px;
 }
.box{
    width: 355px;
    border: 2px solid #8f34df;
    border-radius: 4px; 
    position:relative;
    transition: 1.9s;
    cursor: pointer;
    overflow: hidden;
}
.box img{
    width: 350px;
    height: 450px;
    border-radius: 4px;
}

.box:hover{
transform: scale(1.1,1.1);
border: 3px solid rgb(255, 255, 255);
}

.box h3{
    color: #e87ff1;
    position: absolute;
    top: 2px;
    left: 4px;
}
.box p{
    position: absolute;
    right: 0px;
    top: 2px;
    color: #fff;
    right: 4px;
    bottom: 0px;
    z-index: 1;
    font-size: 16px;
    font-weight: 700;

}
/*-------btn Box------*/
.box a{
    text-align: center;
}
.box .btn_remove-C{
    position: absolute;
    right: 65px;
    bottom: 2px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color:rgb(255, 255, 255);
    font-size: 14px;
    background: rgb(169, 70, 161);
    grid-column: span 1;
    transition: 0.5s;
    border: 1px solid #8f34df;
    border-radius: 4px;
    background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 4px;
    
}
.box .btn_remove-C:hover{
    letter-spacing: 0.25rem;
    border: 1px solid white;
    color: #fff;
    background: transparent;
}
.box .btn-update-C{
    position: absolute;
    left: 60px;
    bottom: 2px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color:rgb(255, 255, 255);
    font-size: 14px;
    background: rgb(169, 70, 161);
    grid-column: span 1;
    transition: 0.5s;
    border: 1px solid #8f34df;
    border-radius: 4px;
    background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 4px;
    text-align: center;
}
.box .btn-update-C:hover{
    letter-spacing: 0.25rem;
    border: 1px solid white;
    color: #fff;
    background: transparent;
}
/*--------Service('HEADING')--------*/
.heading h3:before{
    content: '';
    background: linear-gradient(90deg, rgba(72,252,139,0) 0%,#48fc8b 50%, rgba(72,252, 139, 0) 100%
    );
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0,5em;
    width: 100%;
    height: 0.1em;
    margin-top: -10px;
}
.service .heading{
    display: grid;
    grid-template-columns: 200px 1000px;
    column-gap:250px;
    padding-top: 40px;
    margin: 80px auto;
    color: #fff;
}
.service img {
    margin-left: 125px;
    width: 80%;
}
.heading h3{
    margin: 0px;
    padding: 0px;
    width: 200px;
    margin-left: 50px;
    font-size: 32px;
}
.heading p{
    width: 54%;
    font-size: 20px;
    
}

/*--------Service('Card')--------*/
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5em;
    margin: 1em 0 4em 0;
}
.card{
    padding: 1em;
    text-align: center;
    border: 2px solid #e87ff1;
    border-radius: 8PX;
    background: rgba(0, 0, 0, 0.5);
    background: rgba(136, 50, 153, 0.27);
    cursor: pointer;
    transition: 1.9s;
}
.card:hover{
    transform: scale(1.1,1.1);
    border: 2px solid #ffffff;
}

.card img{
    width: 220px;
    margin: 0px;
}
.card h3{
    color: #fff;
    padding-bottom: 8px;
}
.card p{
    width: 256px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
/*------Infos------*/
.info
{
    height: 500px;
}
.info-nft{
    display: grid;
    grid-template-columns: repeat(2,548px);
    column-gap: 60px;
    margin: 0px 50px;
}
.info-nft img {
        height: 300px;
        grid-column: 2/3;
        margin-left: 40px;
        margin-top: 50px;
}

.info-nft p{
    font-size: 20px;
    font-weight: 60;
    text-align: left;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 100px;
    margin-left:10px;

}
  /* FOOTER */
  footer{
    width: 100%;
}
 .footer{
    bottom: 0px;
    width: 100%;
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(40, 24, 113),rgb(159, 96, 150));
 }
 .footer-content {
    background-color: #003FFF;
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(40, 24, 113),rgb(159, 96, 150));
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    color: #fff;
    bottom: 0px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}
.footer-content img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    box-shadow: 2px 4px #6a16b4;
    transition: 1.9s;
}
.footer-content img:hover{
    transform: scale(1.1,1.1);   
}
.footer-content h3{
    margin-bottom: 20px;
    background-color: #8f34df;
    width: 150px;
    height: 30px;
    padding-top: 4px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 4px #6a16b4;
    transition: 0.9s;
}
.footer-content h3:hover{
    transform: scale(1.2,1.3);
}
.footer-content li{
    padding: 3px;
}
.footer .copyright p{
    text-align: center;
    color:#fff;
    left: 35%;
    padding-bottom: 12px;
    
}

 /* OUR COOLECTION BTN */
 .add-collection{
    font-size:  30px;
    text-align: center;
    margin-bottom: 5px;
}
.add-collection button{
    width: 200px;
    height: 30px;
    background-color: rgb(77, 1, 78);
    color: #ffff;
    border: 1px solid rgb(251, 0, 255);
    transition: 1.9s;
    border-radius: 5px;
}
.add-collection button:hover{
    transform: scale(1.2,1.3);
    color: #ffffff;
    background-color: rgb(255, 0, 221);
}




  /* HEADER CONTENT */
.container{
    width: 100%;
    height: 610px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #003FFF;
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(40, 24, 113),rgb(159, 96, 150));
    /* background-attachment: fixed;    */
    background-size: cover;
}
.first{
    display: grid;
    grid-template-columns: repeat(3,320px);
    padding-top: 200px;
    gap: 4px;
    margin-left: 70px;
}
.des-buynft{
    grid-column: span 1;
    color: #fff;
    font-size: 20px;
    
}
.buy{
    color: #fff;
    font-size: 50px;
    border-left: 4px solid rgb(7, 158, 204);
    border-top: 4px solid rgb(7, 158, 204);
}
.Second{
    display: grid;
    grid-template-columns: repeat(3,320px);
    padding-top: 50px;
    gap: 4px;
    margin-left: 70px;
}
.sell-nfts{
    font-size: 50px;
    color: #fff;
    border-right: 4px solid rgb(7, 158, 204);
    border-top: 4px solid rgb(7, 158, 204);
}
.des-sell{
    color: #fff;
    font-size: 20px;
    padding-left: 1px;
}
.bnt-pg1{
    display: grid;
    grid-template-columns: repeat(3,
    140px);
    margin-left: 12vw;
    gap: 10px;
}
.btn-open{
    position: absolute;
    left: 100px;
    top: 190Px;
    font-size: xx-large;
    color: rgb(255, 254, 255);
    width: 130px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:transparent;
    border-radius: 6px ;
    border: 3px solid rgb(86, 19, 96);
    letter-spacing: 4.3px;
    display: none;
    width: 130px;
    height: 46px;
}
.active-tbn{
    display: block;
}
.buy-nft{
    margin-top: 50px;
    text-transform: uppercase;
    color:rgb(248, 231, 132);
    background: rgb(169, 70, 161);
    grid-column: span 1;
    transition: 0.5s;
    border: 1px solid rgb(7, 158, 204);
    border-radius: 8px;
    background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
}
.buy-nft:hover{
    letter-spacing: 0.25rem;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    border: 1px solid white;
    color: #fff;

}
 
.learn-more{
    margin-top: 50px;
    grid-column: 2/3;
    text-align: center;
    text-transform: uppercase;
    color: rgb(248, 231, 132);
    background: rgb(169, 70, 161);
    height: 35px;
    transition: 0.5s;
    border: 1px solid rgb(7, 158, 204);
    border-radius: 8px;
    background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
}
.learn-more:hover{
    letter-spacing: 0.25rem;
    border: 1px solid white;
    color: #fff;
    background: transparent;
}
.header-img img{
    margin-left: 450%;
    margin-top: -260%;
}

@media (max-width: 1040px)
{
    
    .container{
        width: 100%;
        position: relative;
        height: 65vh;
    }
    .first{
        display: grid;
        grid-template-columns: repeat(2,220px);
        padding-top: 200px;
        width: 350Px;
        gap: 4px;
        margin-left: 70px;
        margin-right: 0px;
    }
    .Second{
        display: grid;
        grid-template-columns: repeat(2,220px);
        padding-top: 50px;
        width: 340px;
        gap: 4px;
        margin-left: 70px;
    }
    
    .bnt-pg1{
        display: grid;
        grid-template-columns: repeat(3,
        78px);
        margin-left: 12vw;
        gap: 10px;
    }
    
    .buy-nft{
        margin-top: 50px;
        text-transform: uppercase;
        color:rgb(248, 231, 132);
        background: rgb(169, 70, 161);
        grid-column: span 1;
        transition: 0.5s;
        border: 1px solid rgb(7, 158, 204);
        border-radius: 8px;
        background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
    }
    .buy-nft:hover{
        letter-spacing: 0.25rem;
        background: var(--clr);
        box-shadow: 0 0 35px var(--clr);
        border: 1px solid white;
        color: #fff;

    }
    
    .learn-more{
        margin-top: 50px;
        grid-column: 2/4;
        text-align: center;
        text-transform: uppercase;
        color: rgb(248, 231, 132);
        background: rgb(169, 70, 161);
        height: 35px;
        transition: 0.5s;
        border: 1px solid rgb(7, 158, 204);
        border-radius: 8px;
        background-image: repeating-linear-gradient(147deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(192deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(102deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(237deg, rgba(222,235,40, 0) 0px, rgba(222,235,40, 0) 1px,transparent 1px, transparent 11px,rgba(222,235,40, 0) 11px, rgba(222,235,40, 0) 12px,transparent 12px, transparent 32px),linear-gradient(192deg, rgb(80,72,155),rgb(149,45,127));
    }
    .learn-more:hover{
        letter-spacing: 0.25rem;
        border: 1px solid white;
        color: #fff;
        background: transparent;
    }
  
    .add-collection{
        font-size:  22px;
        text-align: center;
        margin-bottom: 8px;

    }
    .add-collection h2{
           
            text-align: center;
    }
    .service{
        width: 100%;
    }   
    .service img {
        margin-left: 8%;
        margin-top: 20px;
    }
    
    .content-box{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(340px,auto));
        margin-top: 50px;
        margin-left: 50px;
        width: 95%;
        margin-bottom: 140px;
     }
     .img-tchach{
        width: 90%;
        margin: 0px 20Px 0px 0px;
     }
     .service .heading{
        width: 90%;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 22px;
        padding-top: 25px;
        margin: 88px auto;
        color: #fff;
     }
     .heading h3{
        font-size: 27px;
     }
     .heading p {
        width: 90%;
        font-size: 14px;
    }
     .cards{
       width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        column-gap: 0rem;
        margin: 1em 0 4em 0;
    }
    .box{
        min-width: 300px;
        height: 420px;
        flex-grow: 1;
    }
    .card{
        width: 280px;
    }
    .card h3{
        font-size: 14px;
    }
    .card p{
        font-size: 8px
    }
    .tswira{
        width: 80px;
    }
    .info{
        width: 100%;
    }
    .info-nft{
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .info-nft p{
        width: 340px;
        font-size: 16px;
        margin-top: 0px;
    }
    .info-nft img{
        height: 220px;
        
    }
    .foooter-content h3{
        font-size: 18px;
    }
    .footer-content img {
        width: 94px;
        height: 143px;
    }
    .footer-content h3 {
        
        width: 122px;
        height: 30px;
        font-size: 16px;
    }
    .footer-content p {
        font-size: 14px;
    }

}

    
@media (max-width: 1003px){
   
    .card p {
        width: 259px;
    }
    .content-box {
        margin-top: 50px;
        margin-left: 63px;
        width: 90%;
        column-gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(319px,auto));
    }
    
}
@media (max-width: 833px){
    .content-box {
        margin-left: 9%;
        width: 86%;
    }
}
@media (max-width: 751px){
    .content-box {
        margin-left: 33%;
        width: 64%;
    }
}
@media (max-width: 740px){
     .info-nft p {
        width: 288px;
        font-size: 10px;
        margin-top: 73px;
    }
    
    .box{
        min-width: 300px;
        height: 400px;
        margin-left: 10px;
    }
    .content-box{
        display: grid;
        grid-template-columns: repeat(1,240px);
        row-gap: 50px;
        column-gap: 50px;
        margin-top: 20px;
        margin-left: 22%;
        width: 260px;
        margin-bottom: 140px;
     }
     .card p {
        font-size: 8px;
        width: 244Px;
    }
    .info-nft img {
        height: 156px;
        margin-top: 80px;
        column-gap: 30px;
    }
     .footer-content {
        width: 100%;
        gap: 20px;
    }
    .footer-content img {
        width: 68px;
        height: 143px;
    }
    .info {
        height: 321px;
    }
}


@media screen and (max-width: 650px) {
    header .resp-ico{
      display: block;
      padding-right: 20px;
      color: #fff;
      font-size: 50px;
      cursor: pointer; 
      margin-top: 5px;
  }
  .NAVBAR {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0; 
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(40, 24, 113),rgb(159, 96, 150));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    right: -100%;   
  }
  .NAVBAR .clo-ico{
    display: block;
    color: #ffffff;
    position: absolute;
    right: 10px;
    font-size: 40px;
    top: 10px;
    cursor: pointer;
  }
  .NAVBAR a{
    color: #ffffff;
  }
  }

@media (max-width: 550px) {
   
     .container{
        width: 100%;
        height: 700px;
     }
     .first{
        display: grid;
        grid-template-columns: repeat(1,320px);
        padding-top: 100px;
        gap: 4px;
        margin-left: 20px;
        width: 340px;
     }
     .Second{display: grid;
     grid-template-columns: repeat(1,320px);
     padding-top: 50px;
     gap: 4px;
     margin-left: 40px;
     }
     .bnt-pg1 {
        width: 265px;
        display: grid;
        grid-template-columns: repeat(1,
        100px);
        margin-right: 1.8vw;
        gap: 10px;
        margin-top: 40px;
     }

     .add-collection{
            font-size:  20px;
            text-align: center;
            margin-bottom: 8px;
           
     }
     .service img {
        margin-left: 12%;
        width: 336px;
        margin-top: 0px;
        margin-right: 0px;
    }
     .service .heading{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 340px;
     }
     .heading h3{
        font-size: 14px;
        margin-left: 70px;
     }
     .heading p{
        font-size: 14px;
        width: 260px;
        margin-left: 70px;
     }
     
     .info-nft p {
        width: 340px;
        font-size: 12px;
        margin-top: 89px;
    }
     
     .add-collection{
       text-align: center;
     
       font-size: 18px;
     }
     .add-collection h2{
        margin-bottom: 15px;
     }
     .card{
        margin-left: 130px;
     }
     .card img{
        width: 249px;
        margin-left: 0px;
     }
     .cards{
        width: 355px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5em;
        margin: 1em 0 4em 0;
    }
    .info-nft{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        height: 500Px;
    }
    
    .info-nft p{
        width: 290px;
        font-size: 16px;
        margin-top: 0px;
        margin-left: 50px;
    }
    .info-nft img{
        height: 180px;
        width: 300px;
    }
    footer{
        margin-top: 343px;
        position: relative;
        width: 100%;
    }
    .footer-content {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .box{
        min-width: 300px;
        height: 400px;
        margin-left: 10px;
    }
    .box{
        max-width: 320px;
        height: 390px;
        margin-left: 10px;
    }
    .content-box{
        display: grid;
        grid-template-columns: repeat(1,240px);
        row-gap: 50px;
        column-gap: 50px;
        margin-top: 20px;
        margin-left: 10%;
        max-width: 260px;
        margin-bottom: 140px;
     }
     .add-collection{
        text-align: center;
     }
}
 @media (max-width: 398px) {
    .des-buynft {
        font-size: 16px;
    }
    .buy {
        font-size: 40px;
    }
    .des-buynft {
        font-size: 16px;
    }
    .buy {
        font-size: 40px;
    }
   
    .Second{
        grid-template-columns: repeat(1,299px);
        width: 320px;
    }
    .content-box{
        margin-left: 6%;
    }
    .box{
        max-width: 280px;
        height: 390px;
        margin-left: 10px;
    }
    
    .box img {
        width: 300px;
        height: 390px;
        border-radius: 4px;
    }
    .add-collection{
        text-align: center;
    }
    .box .btn-update-C {
        left: 26px;
    }
    .box .btn_remove-C {
        right: 40px;
    }
    
    .service img {
        margin-left: 4%;
        width: 307px;
    }
    .cards {
        width: 347px;
    }
    .info-nft{
        margin-left: 20px;
    }
    .info-nft p {
        width: 251px;
        font-size: 10px;
    }
    .info-nft img {
        margin-left: 0px;
    }
    .img-tchach{
      width: 302px;
    }
    .cards img{
        margin-left: 4%;
        width: 207px;
    }
    .cards {
        width: 254px;
    }
    .card p {
        font-size: 8px;
        width: 225Px;
    } 
    .footer .copyright p {
        text-align: center;
        color: #fff;
        left: 35%;
        padding-bottom: 12px;
        font-size: small;
    }
 } 
 